@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: Jost, sans-serif;
}
html {
    margin: 0;
    padding: 0;
}
body {
    /* background-color: rgb(14, 13, 13); */
    background-image: url(https://lh3.googleusercontent.com/pw/AMWts8Aw9uoOxFjCSt0FQWZje4E3cT6vtpN2mD_wnUDUiaeGNjgo8-ozUJpRgl8CrFqmLqPGM3RveGF0U-Bhy84n5C9MbhidjFW2T5EOuiuaM0He-UMFXDWR_lGuN-RdGY92IegmwccslWD7ipUneR5eMB9l=s663-no?authuser=0);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
}
header {
    text-align: center;
    font-size: 1.5rem;
}
#textwelcome {
    display: block;
    margin: 0px auto;
    color: rgb(248, 246, 246);
    height: 20px;
}
#textpEnUS {
    display: block;
    margin-top: 50px;
}
main {
    flex: 1 0 auto;
}
div {
    background-color: rgb(22, 19, 19);
    text-align: center;
    margin: 0 auto;
    width: 250px;
    height: 220px;
}
#divptbr {
    box-shadow:  inset 1px 1px 2px 1px rgb(208, 243, 12), inset 1px 1px 5px 1px rgb(1, 156, 9);
}
#divptbr:hover {
    background: linear-gradient(110deg, rgb(253, 237, 8), rgb(2, 177, 11));
    box-shadow: none;
}
#divenus {
    box-shadow:  inset 1px 1px 2px 1px rgb(189, 3, 3), inset 1px 1px 5px 1px rgb(16, 16, 243);
    margin-top: 10px;
}
#divenus:hover {
    background: linear-gradient(110deg, rgb(2, 2, 161), rgb(129, 2, 2));
    box-shadow: none;
}
#flagbrazil {
    width: 150px;
    height: 150px;
}
#flagusa {
    width: 150px;
    height: 150px;
}
button {
    background-color: transparent;
    font-size: 1.5rem;
    width:220px;
    height: 35px;
    border-radius: 12px;
    margin: 0 auto;
    padding: 0;
    cursor: pointer;
    border: none;
    color: white;
}
#buttonportuguese {
    background-color: transparent;
}
#buttonportuguese:hover {
    color: rgb(12, 10, 10);
}
#buttonenglish {
    background-color: transparent;
}
#buttonenglish:hover {
    color: rgb(184, 180, 180);
}
#buttonportuguesetext, #buttonenglishtext {
    margin: 15px auto 10px;
}
footer {
    background-color: rgb(19, 18, 18);
    flex-shrink: 0;
    width: 100%;
    height: 27px;
    font-style: italic;
    position: fixed;
    bottom: 0;
    left: 0;
}
footer > p {
    margin: 0 auto;
}

/* CSS MOBILE */
@media only screen and (max-width: 600px) {
    #textwelcome {
        font-size: 1.5rem;
    }
}
@media only screen and (max-width: 300px) {
    #textwelcome {
        font-size: 1rem;
    }
}
@media only screen and (max-height: 600px) {
    div {
        width: 250px;
        height: 200px;
    }
    #flagbrazil {
        width: 120px;
        height: 120px;
    }
    #flagusa {
        width: 120px;
        height: 120px;
    }
    footer > p {
        font-size: smaller;
    }
}