body {
    background-color: rgb(19, 17, 17);
    color: white;
    margin: 0;
    padding: 0;
}
header {
    text-align: center;
    font-size: 2rem;
}
div {
    text-align: center;
    margin: 0 auto;
    width: 35vw;
    height: 35vh;
}
#divptbr {
    box-shadow:  inset 1px 1px 2px 1px rgb(208, 243, 12), inset 1px 1px 5px 1px rgb(1, 156, 9);
}
#divptbr:hover {
    background: linear-gradient(110deg, rgb(253, 237, 8), rgb(2, 177, 11));
    box-shadow: none;
}
#divenus {
    box-shadow:  inset 1px 1px 2px 1px rgb(189, 3, 3), inset 1px 1px 5px 1px rgb(16, 16, 243);
    margin-top: 10px;
}
#divenus:hover {
    background: linear-gradient(110deg, rgb(2, 2, 161), rgb(129, 2, 2));
    box-shadow: none;
}
#flagbrazil {
    width: 150px;
    height: 150px;
    margin-top: 25px;
}
#flagusa {
    width: 150px;
    height: 150px;
    margin-top: 25px;
}
button {
    background-color: transparent;
    font-size: 1.5rem;
    width:220px;
    height: 35px;
    border-radius: 12px;
    margin: 10px auto 0;
    cursor: pointer;
    border: none;
    color: white;
}
#buttonportuguese {
    background-color: transparent;
}
#buttonenglish {
    background-color: transparent;
}