body {
    background-color: rgb(19, 17, 17);
    color: white;
    margin: 0;
    padding: 0;
}
header {
    text-align: center;
    font-size: 2rem;
}
div {
    text-align: center;
    margin: 0 auto;
    width: 50vw;
    height: 35vh;
}
#ptbr {
    background: linear-gradient(90deg, yellow, green);
}
#ptbr:hover {
    background: linear-gradient(180deg, green, yellow);
}
#enus {
    background: linear-gradient(90deg, red, blue);
}
#enus:hover {
    background: linear-gradient(180deg, blue, red);
}
#flagbrazil {
    width: 150px;
    height: 150px;
    margin-top: 25px;
}
#flagusa {
    width: 150px;
    height: 150px;
    margin-top: 25px;
}
button {
    font-size: 1.5rem;
    width:300px;
    height: 35px;
    border-radius: 12px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    color: white;
}
#portuguese {
    background: linear-gradient(90deg, yellow, green);
}
#english {
    background: linear-gradient(90deg, red, blue);
}